:host {
  /*display: none;*/
  left: 45%;
  margin-top: 23px;
  position: absolute;
  top: 0;
  width: 55%;
}

:host [space] {
  display: none;
}

:host [space].iron-selected {
  display: inline-block;
}
