section[setting] {
  cursor: pointer;
  font-size: 0.75em;
  padding: 0.5em 0;
  text-align: center;
}

section[setting]:hover {
  color: rgb(46, 160, 221);
}

section[setting].selected-setting {
  background-color: rgb(85, 85, 85);
}

section[setting="all"] {
  padding: 0.5em;
}

[setting-detail] {
  background-color: rgb(85, 85, 85);
  bottom: -8em;
  height: 2em;
  padding: 1em 0;
  position: absolute;
  transition-property: bottom;
  transition-duration: 0.75s;
  transition-timing-function: ease;
  width: 100%;
}

[setting-detail].selected-setting {
  bottom: 2em;
}

[setting-detail] /deep/ button {
  margin-left: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

[setting-detail="all"] {
  height: 6em;
}

[setting-detail="all"] button {
  margin-bottom: 0.5em;
}

#payday button {
  padding-left: 2em;
  padding-right: 2em;
}
